In [3]:
import pandas as pd
dataset_1 = pd.read_csv("/Users/yourgrandpaprogenynamesmcky/Developer/Big_data_final_project/Data/AAPL_yfinance_data_20250417.csv")
dataset_2 = pd.read_csv("/Users/yourgrandpaprogenynamesmcky/Developer/Big_data_final_project/Data/apple_stock.csv")

In [4]:
dataset_column = ["Date", "Open", "High", "Low", "Close", "Volume"]

In [5]:
import pandas as pd
from datetime import datetime

def clean_date_column_fixed(df, date_column):

    df_copy = df.copy()
    
    print(f"Current dtype of {date_column}: {df_copy[date_column].dtype}")
    print(f"Sample values from {date_column}:")
    print(df_copy[date_column].head())
    
    try:
        df_copy[date_column] = pd.to_datetime(df_copy[date_column], errors='coerce')
        
        if df_copy[date_column].isna().any():
            print(f"Warning: Some dates could not be parsed. First few problematic values:")
            problematic = df_copy.loc[df_copy[date_column].isna(), date_column]
            print(problematic.head())
        
        df_copy[date_column] = df_copy[date_column].dt.strftime('%Y-%m-%d')
        
        return df_copy
    
    except AttributeError:
        print("AttributeError occurred. Let's try an alternative approach.")
        
        def extract_date_part(date_str):
            if pd.isna(date_str):
                return None
            
            date_str = str(date_str)
            
            if ' ' in date_str:
                date_part = date_str.split(' ')[0]
                return date_part
            return date_str
        
        df_copy[date_column] = df_copy[date_column].apply(extract_date_part)
        print(f"After alternative processing: {df_copy[date_column].head()}")
        
        df_copy[date_column] = pd.to_datetime(df_copy[date_column], errors='coerce')
        df_copy[date_column] = df_copy[date_column].dt.strftime('%Y-%m-%d')
        
        return df_copy

In [6]:
dataset_1_date_cleaned = clean_date_column_fixed(dataset_1, "Date").rename(columns={
    "Close*": "Close"
})[dataset_column].reset_index(drop=True)

dataset_2_date_cleaned = clean_date_column_fixed(dataset_2.rename(columns={
    "Unnamed: 0": "Date"
}), "Date")[dataset_column].reset_index(drop=True)

Current dtype of Date: object
Sample values from Date:
0    2024-04-17 00:00:00-04:00
1    2024-04-18 00:00:00-04:00
2    2024-04-19 00:00:00-04:00
3    2024-04-22 00:00:00-04:00
4    2024-04-23 00:00:00-04:00
Name: Date, dtype: object
AttributeError occurred. Let's try an alternative approach.
After alternative processing: 0    2024-04-17
1    2024-04-18
2    2024-04-19
3    2024-04-22
4    2024-04-23
Name: Date, dtype: object
Current dtype of Date: object
Sample values from Date:
0    1980-12-12
1    1980-12-15
2    1980-12-16
3    1980-12-17
4    1980-12-18
Name: Date, dtype: object

/var/folders/8j/0ktshwmn32g805v3mcyjxjgm0000gn/T/ipykernel_75706/3897436818.py:13: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df_copy[date_column] = pd.to_datetime(df_copy[date_column], errors='coerce')

In [7]:
dataset_2_date_cleaned

             Date        Open        High         Low       Close     Volume
0      1980-12-12    0.128348    0.128906    0.128348    0.128348  469033600
1      1980-12-15    0.122210    0.122210    0.121652    0.121652  175884800
2      1980-12-16    0.113281    0.113281    0.112723    0.112723  105728000
3      1980-12-17    0.115513    0.116071    0.115513    0.115513   86441600
4      1980-12-18    0.118862    0.119420    0.118862    0.118862   73449600
...           ...         ...         ...         ...         ...        ...
11102  2024-12-27  257.829987  258.700012  253.059998  255.589996   42355300
11103  2024-12-30  252.229996  253.500000  250.750000  252.199997   35557500
11104  2024-12-31  252.440002  253.279999  249.429993  250.419998   39480700
11105  2025-01-02  248.929993  249.100006  241.820007  243.850006   55558000
11106  2025-01-03  243.369995  244.179993  241.889999  243.860001   15135053

[11107 rows x 6 columns]

In [8]:
consolidated_data = pd.concat([dataset_1_date_cleaned, dataset_2_date_cleaned], axis=0, ignore_index=True).drop_duplicates(subset=["Date"], keep="last").reset_index(drop=True)
print("dataset_1_len", len(dataset_1))
print("dataset_2_len", len(dataset_2))
print("consolidated_data_len", len(consolidated_data))

dataset_1_len 252
dataset_2_len 11107
consolidated_data_len 11178

In [ ]:
consolidated_data.to_csv("/Users/yourgrandpaprogenynamesmcky/Developer/Big_data_final_project/Data/final/consolidated_apple_stock_data.csv", index=False)